* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1300px;
  margin: auto;
  background-color: whitesmoke;
  padding: 20px 40px;
}

.navbar {
}

.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  background-color: white;
}

.navbar__mainlogo {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;

  color: #295091;
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.navbar__price {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__count {
  /* $ 10137.2 P 138.26 E 10988.72 */

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #285193;
}

.navbar__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 10px;

  /* Rectangle 5 */

  width: 146px;
  height: 40px;

  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;

  /* Подписатся */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  border: none;
}

.navbar__bottom {
  background-color: white;
  padding: 30px 10px;
  margin-top: 20px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__link {
  /* Узбекистана Мир Экономика Политика Общество Технологии Спорт Культура Происшествия Туризм */

  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;

  color: #181818 !important;
}

.banner {
  margin-top: 20px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.state__card {
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid; */
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.news {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.news__card {
  width: 350px;
}

.news__images {
  width: 100%;
}

.news__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #6b6d97;
}
