.card {
  width: 200px;
  height: 200px;
  background-color: yellow;
  font-size: 50px;
}

.cards {
  display: flex;
  width: 1200px;
  height: 600px;
  border: 1px solid green;
  margin: auto;
  gap: 100px;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
