* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1400px;
  /* height: 100px; */
  background-color: white;
  margin: 100px auto;
  /* border-radius: 20px; */
}

.navbar {
  padding: 20px;
}

body {
  background-color: grey;
}

.navbar__img {
  vertical-align: middle;
  margin-left: 40px;
}

.navbar__list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 460px;
}

.navbar__item {
  display: inline-block;
  margin-left: 40px;
}

.navbar__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  /* 1f1534-hyfen */
  color: #1f1534;

  opacity: 0.7;
}
/* intro.  */

.intro {
  margin-top: 100px;
  margin-left: 40px;
}

.intro__left,
.intro__right {
  display: inline-block;
  vertical-align: middle;
}

.intro__title {
  /* Virtual healthcare for you */
  width: 450px;
  /* font-family: "Mulish"; */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  color: #000000;

  mix-blend-mode: normal;
}

.intro__text {
  /* Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone */
  width: 450px;
  /* font-family: "Mulish"; */
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  /* or 152% */

  color: #7d7987;

  mix-blend-mode: normal;
  margin: 50px 0;
}

.intro__img {
  margin-left: 110px;
}

.intro__btn {
  /* consult btn */

  /* Rectangle 1 */

  background: #458ff6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;

  /* Consult today */

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  /* or 333% */

  color: #ffffff;

  mix-blend-mode: normal;
  width: 200px;
  height: 60px;
  border: none;
}

/* Service  */

.servise {
  margin-top: 170px;
}

.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 156% */

  color: #000000;
  text-align: center;
  mix-blend-mode: normal;
}

.service__hr {
  width: 100px;
  height: 3px;
  background-color: black;
  margin: 20px auto;
}

.servise__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  text-align: center;

  color: #7d7987;

  mix-blend-mode: normal;
  width: 900px;
  margin: auto;
}

.service__cards {
  width: 1200px;
  margin: auto;
}

.service__card {
  padding: 30px;
  width: 300px;
  height: 350px;
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 70px;
  margin-top: 40px;
  box-sizing: border-box;
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
}

.service__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  /* or 233% */

  color: #000000;

  mix-blend-mode: normal;
}

.service__subtext {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #7d7987;

  mix-blend-mode: normal;
}

.service__btn {
  /* btn */

  width: 200px;
  height: 60px;
  box-sizing: border-box;

  border: 1.4px solid #458ff6;
  border-radius: 55px;

  /* Learn more */

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  /* identical to box height, or 333% */

  color: #458ff6;

  mix-blend-mode: normal;
  margin: 50px auto;
  display: block;
}

.card {
  width: 200px;
  height: 200px;

  background-color: purple;
  /* background-color: rgb(255, 255, 255); */

  /* background-color: rgba(45, 43, 53 , 0); */

  /* background-color: hsl(hue, saturation, lightness); */

  /* border-width: 2px;
  border-style: ;
  border-color: red; */

  /* border: 2px nuqta qizil; */

  /* border-top: 30px;
  border-bottom: 30px; */

  /* margin-top: 30px;

  border-top: 20px solid red;
  border-left: ; */

  /* padding-top: 30px;
  padding-left: 40px;
  padding-right: 50px;
  padding-bottom: 60px; */

  /* padding: 30px 50px 60px 40px; */

  /* margin-top: 40px;
  margin-left: 50px; */
  /* margin-left: auto; */
}
