.cards {
  width: 90%;
  height: 100vh;
  margin: auto;
  background-color: blueviolet;

  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  height: 300px;
  background-color: rgb(98, 142, 180);
  font-size: 50px;
}

.card:nth-child(2) {
  background-color: rgb(22, 47, 146);
  /* order: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
}

.card:nth-child(4) {
  background-color: rebeccapurple;
  /* order: 1; */
  /* flex-grow: 2; */

  /* flex-shrink: 3; */

  flex-basis: 300px;

  flex: 3, 2, 300px;
  align-self: flex-end;
}
