/* .cards {
  position: relative;
  top: 230px;
  left: 200px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: collapse;
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 200px;
  border: 1px solid red;
  box-sizing: border-box;
  background-color: red;
  background-attachment: fixed;
  background-image: none;
  background: linear-gradient();
  box-shadow: 10px 10px 10px red;
  font-weight: 900;
  font-size: 200;
  font-style: italic;
  letter-spacing: 10px;
  word-spacing: 130px;
  line-height: 100px;
} */
/* 
.cards {
   position: relative;
  width: 1200px;
  margin: 100px auto;
  border: 1px solid;
  opacity: 0;
}

.card {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  position: relative;
}

.card:nth-child(1) {
  top: 100px;
  left: 100px;
  background-color: cyan;
  z-index: 2;
}

.card:nth-child(2) {
  top: 200px;
  left: 200px;
  background-color: rgb(19, 153, 28);
  z-index: 3;
}


.card:nth-child(3) {
  top: 300px;
  left: 300px;
  background-color: rgb(153, 108, 19);
  z-index: 1;
}

.card:nth-child(4) {
  top: 400px;
  left: 400px;
  background-color: rgb(157, 135, 92);
  z-index: 1;
} */

.cards {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */

  flex-wrap: wrap;
  width: 1200px;
  height: 1200px;
  margin: auto;
  border: 1px solid;
  align-content: space-evenly;
  justify-content: center;
}

.card {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  font-size: 70px;
}
