body {
  background-color: black;
}

p {
  /* font-weight: bolder; */
  /* font-style: inherit; */
  /* text-decoration: in; */
  color: cyan;
  /* font-size: 40px; */
  /* line-height: 50px; */
  /* letter-spacing: 30px; */
  /* word-spacing: 40px; */
  /* text-align: end; */
  /* text-transform: capitalize; */
  /* background-color: blueviolet; */
}
/* 
h1 {
  color: blue;
}

.name {
  color: red;
  font-size: 40px;
}


.name2{
    color: chocolate;
}


.surname{
    color: crimson;
    font-size: 50px;
}


#title{
    color: darkmagenta;
} */

#subtitle {
  color: red;
}

.title {
  color: cyan;
p {
  font-weight: normal;
  font-style: italic;
  text-decoration: overline;
  color: darkcyan;
  font-size: 40px;
  line-height: 300px;
  /* letter-spacing: 40px; */
  /* word-spacing: 50px; */
  text-align: center;
  width: 400px;
  height: auto;
  background-color: azure;
  text-transform: capitalize;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
